.liked{
    color: rgb(237, 38, 38);
}
.div_add{
    justify-content: center;
}
.imgCard{
    border-radius: 100px;
    background-color: black;
    
}


.fixed_div{
z-index: 1;


}
.row1{
    display: flex;
    align-items: last baseline;
    justify-content:  space-between;
}
.scrollable_div{
   
    overflow-y: scroll;
}
.add{
   
    width: 100px;
    border-radius: 20px;

}
.add img{
  border-radius: 23px;
}
Form{
    padding: 40px;
    background-color: rgba(161, 161, 198, 0.674);
}
.likedImg{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}